.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: scroll;
}

.btn-flex {
  padding-top: 3em;
  display: flex;
  justify-content: center;
}
.btn {
  text-align: center;
  cursor: pointer;
  font-size:20px;
  margin: 0 0 0 100px;
  border-radius: 4px;
  background-color:#1F5C1C;
  color: white;
  border: none;
  padding: 20px;
  width: 12em;
  transition: all 0.5s;
}


.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.id-formating {
  display: flex;
  justify-content: space-around;
} 

ul {
  list-style-type: none;
  padding: .5em;
}

li {
  padding: 1em;
  border: solid;
}

li span {
  font-weight: bold;
}

.good {
  color: #1F5C1C;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}